{% extends "base.html" %}


{% block title %}
   Create new post
{% endblock %}

{% block content_title %}
New post
{% endblock %}

{% block content %}
<div class="col-md-6">
    <form action="{{ url_for('posts.create_post') }}" method="POST">
        {% for f in form %}
        <div class="form-group">
            {{ f.label(class='control-label') }}
            {{ f(class='form-control') }}

        </div>
        {% endfor %}
    <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock %}