{% extends "base.html" %}


{% block title %}

    Blueprint index
{% endblock %}

{% block content_title %}
    Posts
{% endblock %}

{% block content %}
    {% for post in pages.items %}
        <p>
            <a href="{{ url_for('posts.post_detail', slug=post.slug)}}"> {{ post.title }}</a>
        </p>
    {% endfor %}
<nav>
  <ul class="pagination">
    <li class="page-item {% if not pages.has_prev %} disabled {% endif %}">
      <a class="page-link" href="./?page={{ pages.prev_num }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
      {% for page in pages.iter_pages() %}
    <li {% if page == pages.page %} class="page-item" {% endif %}><a class="page-link" href="./?page={{ page }}">{{ page }}</a></li>
      {% endfor %}
    <li class="page-item {% if not pages.has_next %} disabled {% endif %} ">
      <a class="page-link" href="./?page={{ pages.next_num }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}