{% extends "base.html" %}


{% block title %}
   {{ tag.name }}
{% endblock %}

{% block content_title %}
    Posts for "{{ tag.name }}"
{% endblock %}

{% block content %}
<div class="tags">
    {% for post in posts %}
       <div class="post" ><a href="{{ url_for('posts.post_detail', slug=post.slug)}}">{{ post.title }}</a></div>

</div>
<div class="main-content">
    {{post.body}}
</div>
    {% endfor %}
{% endblock %}